{
  "name": "__ID__",
  "private": true,
  "scripts": {
    "validate": "soksak-validate plugin.json",
    "prepare": "git config core.hooksPath .githooks 2>/dev/null || true"
  },
  "devDependencies": {
    "@soksak-ai/plugin-spec": "^0.1.0"
  }
}
